body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #e1c08b;
}

header {
    background-color: #6d4c41;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.left {
    width: 40%;
}

.right {
    width: 40%;
}

.btn {
    background-color: #6d4c41;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input {
    width: 80%;
    padding: 10px;
    background: #e9efc0;
    border: none;
}
